node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


.idea/

.vscode/



# misc
# .gitignore
.env*.local
.env.local
.env
.env*




.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

.gitignore

# Expo
.expo
dist/
web-build/

# Firebase config.ts file. located in /app/config/
firebaseConfig.ts


# build folder
# ios/

android/
android/*

# eas.json

# GoogleService-Info.plist
# GoogleService-Info.plist/