node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


.idea/

.vscode/

# build folder
ios/

android/
android/*

# misc
# .gitignore
.env*.local
.env.local
.env

# Firebase config.ts file. located in /app/config/
firebaseConfig.ts

.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

.gitignore